body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.first_block{
  width: 100%;
  height: 790px;
  position: relative;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
}
.container{
  max-width: 1120px;
  height: 790px;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100px;
}
.header .ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #fff;
}
.header .li{
  margin-right: 20px;
}
.header .li:last-of-type{
  margin-right: 0;
}
.header .li:hover{
  transform: scale(1.2);
  transition-duration: 0.2s;
  color: #FFC700;
  cursor: pointer;
}
.header img{
  width: 100px;
  height: 40px;
}
.first_block_main{
  display: flex;
  justify-content: space-between;
}
.text_logo{
  max-width: 720px;
  position: relative;
  margin-top:150px;
}
.to_us{
  position: absolute;
  right: 30px;
  top: 48px;
}
.adven{
  margin-bottom: 20px;
}
.pero_travel{
  margin-bottom: 60px;
}
.button_main{
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  width: 230px;
  height: 50px;
  border-radius: 50px;
  border: none;
}
.button_main:hover{
  transform: scale(1.1);
  transition-duration: 0.2s;
  cursor: pointer;
}
/* Стрелка */
.button_main_img{
  margin-left: 10px;
  animation-name: move;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0, 0, 0.47, 0.49);
  position: relative;
}
/* Иконки */
.logo_block{
  height: 110px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}
.logo_block img{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.vk{
  align-self: flex-start;
  width: 25px;
  height: 16px;
}
.fc{
  width: 12px;
  height: 26px;
  margin-left: 8px;
}
.scroll{
  display: flex;
  position: absolute;
  bottom:-120px;
  right: 100px;
}
.scroll_img{
  margin-left: 20px;
  position: relative;
}
.sroll_animation{
  opacity: 60%;
  position: absolute;
  top: 35%;
  left: 39.5%;
}
.sroll_animation:hover{
  opacity: 100%;
  cursor: pointer;
  transition-duration: 1s;
  transition-delay: 0.2s;
  transform: scale(1.5);
}
.sroll_animation_out_line{
  width: 66px;
  height: 66px;
  border-color: #FFC700;
  border-style: solid;
  box-shadow: 0px 1px 5px #FFC700;
  border-radius: 50px;
  position: relative;
}
.sroll_animation_yellow_circle{
  width: 36px;
  height: 36px;
  background-color: #FFC700;
  border-radius: 50px;
  position: absolute;
  top: 22%;
  left: 22%;
}
.scrol_img_polygon{
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 20px solid black;
  border-bottom: 12px solid transparent;
  position: absolute;
  top: 18%;
  left: 30%;
}

.container_h2{
  margin: 0 auto;
  max-width: 1120px;
}
.h2 {
  display:flex;
  justify-content: space-between;
  margin-top: 250px;
}
.h2 h2{
  color:#0499DD;
  font-size:24px;
  font-weight:700;
}
.h2 a{
  font-size:12px;
  color:#282828;
}

.scrol_card_main{
  display: flex;
  justify-content: space-between;
  width:1600px;
  margin-top:90px;
}
.scrol_card{
  width: 360px;
  height: 497px;
  color: white;
  border-radius: 15px;
}
.scrol_card:hover{
  box-shadow:1px 1px 10px black;
}
.scrol_card_content{
  padding: 210px 16px 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;


}
.card_1{
  background-image: url(../img/scrol-card_1.png);
}
.card_2{
  background-image: url(../img/scrol_img_2.png);
}
.card_3{
  background-image: url(../img/scrol_img_3.png);
}
.card_4{
  background-image: url(../img/scrol_img_2.png);
}




.scrol_card_main{
  display: flex;
  justify-content: space-between;
  width:100%;
  margin-top:90px;
}
.scrol_card{
  width: 360px;
  height: 497px;
  color: white;
  border-radius: 15px;
}
.scrol_card:hover{
  box-shadow:1px 1px 10px black;
}
.scrol_card_content{
  padding: 210px 16px 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;


}
.card_1{
  background-image: url(../img/scrol-card_1.png);
}
.card_2{
  background-image: url(../img/scrol_img_2.png);
}
.card_3{
  background-image: url(../img/scrol_img_3.png);
}
.card_4{
  background-image: url(../img/scrol_img_2.png);
}




.scrol_card .type{
  font-size: 12px;
}
.scrol_card_h3{
  font-size: 14px;
  color: #FFC700;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}
.prace_time{
  display: flex;
  width: 125px;
  justify-content: space-between;
}

.scrol_card_prace_time_span{
  font-size: 12px;
}
.scrol_card_prace_time_span{
  font-size:12px;
}
.discription{
  font-size: 12px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button_scrol_card{
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  width: 160px;
  height: 40px;
  border-radius: 60px;
  border: none;
  margin-bottom: 40px;
}
.button_scrol_card:hover{
  transform: scale(1.01);
  transition-duration: 0.1s;
  cursor: pointer;
}


@keyframes move {
  0% {left: 0}
  100% {left: 10px;}
}
